
  
  <div class="container mt-5">
    <h1>Incripcion de Estudiantes</h1>
      <div class="row" p-2>
        
        <div class="col-9">
          <p >Buscar Estudiante</p>
          <input [formControl]="search" aria-label="Search" type="text" placeholder="Buscar Estudiante" class="form-control" (keyup)="onKey($event)" >
        </div>
      </div>
      &nbsp;
      <div id="datatable">
      </div>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                
                <th scope="col">Editar</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor ='let us of buscar'>
                <th scope="row">{{us.id}}</th>
                <td>{{us.nombre}}</td>
                <td>{{us.apellido}}</td>
                <td>{{us.correo}}</td>
                <td>{{us.telefono}}</td>
                
                <td><button class="btn btn-sm btn-danger" (click)="obtenerID(us.id)"  data-toggle="modal" data-target="#exampleModalCenter" >Asignar</button>
                   &nbsp;

                </td>
                
              
              
            </tbody>
          </table>

          
    <form [formGroup]="useForm">
      <fieldset disabled>
      <div class="form-row">
        <div class="form-group col">
          
          <input type="hidden" class="form-control"formControlName="id" placeholder="cod">
        </div>
        <div class="form-group col">
          <label for="inputEmail4">Nombre</label>
          <input type="text" class="form-control"formControlName="nombre" placeholder="Nombre">
        </div>
        &nbsp;
        <div class="form-group col">
          <label for="inputPassword4">Apellido Paterno</label>
          <input type="text" class="form-control" formControlName="apellido" placeholder="Apellido Paterno">
        </div>
      </div>
      &nbsp;
      <div class="form-group">
        <label for="inputAddress">Apellido Materno</label>
        <input type="text" class="form-control" formControlName="telefono" placeholder="Apellido Materno">
      </div>&nbsp;
    </fieldset>
      <div class="form-group">
      
        <label for="inputAddress2">Correo</label>
        <input type="email" class="form-control" formControlName="correo" placeholder="Correo">
      </div>&nbsp;
      <div class="form-row">
        
        <div class="input-group mb-6">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Cursos</label>
          </div>
          <select class="custom-select col-6" id="id" formControlName="idCurso">
            <option  value="" selected disabled hidden>Seleccione Curso</option>
            <option *ngFor ='let us of readDataCurso' [ngValue]="us.idCurso" >{{us.nombre}}</option>
            
          </select>
      
        </div>&nbsp;
        
      </div>
      
      <fieldset disabled>
      <div class="form-group">
              <input type="text" class="form-control" formControlName="fecha"  placeholder="{{today | date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}">
      </div>&nbsp;
    </fieldset>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      
      <div class="col-lg-4 mt-2" (click)="asignarEC()">
        <button class="btn btn-primary">Crear</button>
      </div>
      &nbsp;
      <div *ngIf="errormsg"  class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>


      <div *ngIf="successmsg"  class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </form>


          
    </div>
 <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>