

<div class="container mt-5">
    <h1>Crear Docente</h1>
    
     
       
  
    
  </div>
<div class="container mt-5"> 
    
    <div *ngIf="errormsg"  class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>


      <div *ngIf="successmsg"  class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>


    <form [formGroup]="userForm"  >
        <div class="col-lg-4 mt-4">
            <input type="text" class="form-control" formControlName="nombre"  placeholder="Ingrese Nombre">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text"class="form-control" formControlName="apPaterno" placeholder="Ingrese Apellido Paterno">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="apMaterno"  placeholder="Ingrese Apellido Materno">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text"class="form-control" formControlName="correo" placeholder="Ingrese Correo">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="contrasena"  placeholder="Ingrese Contrasena">
        </div>
        
               <div class="col-lg-4 mt-2" *ngIf="!getparamid" (click)="userSubmit()">
            <button class="btn btn-primary">Crear</button>
        </div>
        <div class="col-lg-4 mt-2" *ngIf="getparamid">
            <button class="btn btn-dark ntm-sm" (click)="userUpdate()">Modificar</button>
        </div>
    </form>
</div>
