<div class="container bootstrap snippets bootdey">
  <p class="subtituloForm">Informacion de docente</p>
      <hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>Foto de perfil...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        
        
        <form  [formGroup]="userForm"  class="form-horizontal" >
          <div class=" formLinea margenInput">
            <label class="  divInputsLabel">Nombres:</label>
            <input type="text" class="form-control divInputsInput textoInput" formControlName="nombre" placeholder="Nombres">
          </div>
          <div class=" formLinea margenInput">
            <label class="  divInputsLabel">Apellidos:</label>
            <input type="text" class="form-control divInputsInput textoInput" formControlName="apellido" placeholder="Nombres">
          </div>
          <div class=" formLinea margenInput">
            <label class="  divInputsLabel">Usuario:</label>
            <input type="text" class="form-control divInputsInput textoInput" formControlName="userName" placeholder="Nombres">
          </div>
          <div class=" formLinea margenInput">
            <label class="  divInputsLabel">Correo:</label>
            <input type="text" class="form-control divInputsInput textoInput" formControlName="correo" placeholder="Nombres">
          </div>
          <div class=" formLinea margenInput">
            <label class="  divInputsLabel">Celular:</label>
            <input type="text" class="form-control divInputsInput textoInput" formControlName="telefono" placeholder="Nombres">
          </div>
          
          <div class=" formLinea margenInput">
            <label class="  divInputsLabel">Pais:</label>
            <input type="text" class="form-control divInputsInput textoInput" formControlName="pais" placeholder="Nombres">
          </div>
          
          <div class=" formLinea margenInput">
            <label class="  divInputsLabel">Ciudad:</label>
            <input type="text" class="form-control divInputsInput textoInput" formControlName="ciudad" placeholder="Nombres">
          </div>
          
          <div class=" formLinea margenInput">
            <label class="  divInputsLabel">Domicilio:</label>
            <input type="text" class="form-control divInputsInput textoInput" formControlName="domicilio" placeholder="Nombres">
          </div>
          <div class="col-lg-4 mt-2">
            <button class="btn btn-primary ntm-sm" (click)="userUpdate()">Modificar</button>
        </div>
        </form>
        <div *ngIf="errormsg"  class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{errormsg}}</strong>.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    
    
          <div *ngIf="successmsg"  class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{successmsg}}</strong>.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      </div>
  </div>
</div>
<hr>