<div class="container mt-5">

  <div *ngIf="succesmsg"  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{succesmsg}}</strong>.

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Editar</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor ='let us of readData'>
            <th scope="row">{{us.id}}</th>
            <td>{{us.nombre}}</td>
            <td>{{us.descripcion}}</td>
            <td><button class="btn btn-sm btn-danger" (click)="deleteID(us.id)" >Eliminar</button>
               &nbsp;
               <a [routerLink]="['/crear',us.id]" class="btn btn-sm btn-success" >Modificar</a>
            </td>
            
          </tr>
          
        </tbody>
      </table>
</div>
