<h1>Tus cursos</h1>
<div class="row p-3">


    <div class="owl-item cloned " *ngFor='let us of readDataCursos' style="width: 350px; margin-right: 30px;">
        <div class="single_course " style="cursor: pointer; width: 18em; " (click)="ingresarCurso(us.idCurso)">
            <div class="course_head">
                <img class="img-fluid" src="http://localhost:4200/assets/{{us.imagen}}" alt="" />
            </div>
            <div class="course_content">
                <span class="tag mb-4 d-inline-block">curso</span>
                <h4 class="mb-3">
                    <a  >{{us.nombreCorto}}</a>
                </h4>
                <p>
                    {{us.descripcion}}
                </p>
                
            </div>
        </div>
    </div>

    

</div>

<!-- <div class="owl-item cloned " *ngFor='let us of readDataCursos' style="width: 350px; margin-right: 30px;">
    <div class="single_course " style="cursor: pointer; width: 18em; " (click)="ingresarCurso(us.idCurso)">
        <div class="course_head">
            <img class="img-fluid" src="http://localhost:4200/assets/{{us.imagen}}" alt="" />
        </div>
        <div class="course_content">
            <span class="tag mb-4 d-inline-block">curso</span>
            <h4 class="mb-3">
                <a  >{{us.nombreCorto}}</a>
            </h4>
            <p>
                {{us.descripcion}}
            </p>
            <div
                class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">
                <div class="authr_meta">
                    <img src="http://localhost:4200/assets/{{us.imagen}}" alt="" />
                    <span class="d-inline-block ml-2">Cameron</span>
                </div>
                <div class="mt-lg-0 mt-3">
                    <span class="meta_info mr-4">
                        <a href="#"> <i class="ti-user mr-2"></i>1 </a>
                    </span>
                    <span class="meta_info">
                        <a href="#"> <i class="ti-heart mr-2"></i>3 </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div> -->