


  
  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/
  .table100 {
    background-color: #fff;
  }
  
  table {
    width: 100%;
  }
  
  th, td {
    font-weight: unset;
    padding-right: 10px;
  }
  .column0 {
    width: 5%;
    padding-left: 40px;
  }
  .column1 {
    width: 10%;
    padding-left: 40px;
  }
  
  .column2 {
    width: 15%;
  }
  
  .column3 {
    width: 22%;
  }
  
  .column4 {
    width: 28%;
  }
  
  .column5 {
    width: 17%;
  }
  
  .table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  
  .table100-body td {
    padding-top: 8px;
    padding-bottom: 8px;
  } 
  
  /*==================================================================
  [ Fix header ]*/
  .table100 {
    position: relative;
    padding-top: 5px;
  }
  
  .table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .tableSize{
    max-width: 680px;
  }
  .table100-body {
    max-height: 500px;
    overflow: auto;
  }
  
  
  /*==================================================================
  [ Ver1 ]*/
  
  .table100.ver1 th {
    
    font-size: 15px;
    color: rgba(52, 51, 51, 0.822);
    line-height: 1.4;
  
  }
  
  .table100.ver1 td {
    
    font-size: 14px;
   
    line-height: 1.4;
  }
  
  .table100.ver1 .table100-body tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  
  /*---------------------------------------------*/
  
  .table100.ver1 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  }
  
  .table100.ver1 .ps__rail-y {
    right: 5px;
  }
  
  .table100.ver1 .ps__rail-y::before {
    background-color: #ebebeb;
  }
  
  .table100.ver1 .ps__rail-y .ps__thumb-y::before {
    background-color: #cccccc;
  }
  .texto{
    font-size: 13px;
  }
  .margenButton{
    padding-top: 0.2rem; 
    padding-right: 0.2rem; 
    padding-left: 0.2rem;
  }
.subtitulo2{
    font-size: 25px;
}
.subtituloForm{
    font-size: 30px;
}
.margenInput{
    margin: 15px 0px;
}
.divInputsLabel{
    width: 150px;
}
.divInputsInput{
    width: 500px;
}
.formLinea{
    display: flex;
}
.textoInput{
    font-size: 14px;
}
.enlinea{
    display: block;
}
.botonIzq{
    margin-left: auto;
      margin-right: auto;
}