       <h1>Curso de {{nombreCurso}}</h1>
    &nbsp;
        <body>
              
            
          <div class="table100 ver1 tableSize">
            <div class="p-2 " style="background-color: rgba(0, 0, 0, 0.1)">
              <table>
                <thead>
                  <tr class="">
                    <th class="cell100 column0">Nombre</th>
                    <th class="cell100 column2">Apellido</th>
                    <th class="cell100 column2">Calificación </th>
                    <th class="cell100 column2">Estado </th>
                     <th class="cell100 column5" style="text-align:center">Editar</th>
        
                  </tr>
                </thead>
              </table>
            </div>
        
            <div class="table100-body js-pscroll ">
              <table>
                <tbody>
                  <tr class="" *ngFor='let us of readData'>
                    <td class="cell100 column0">{{us.nombre}}</td>
                    <td class="cell100 column2">{{us.apellido}}</td>
                    <td class="cell100 column2">{{us.nota}}</td>
                    <td class="cell100 column2 " ><button class="btn btn-outline-dark btn-sm" disabled>{{us.estadoCurso}}</button></td>
        
        
                    <td class="cell100 column1"><button class=" btn btn-outline-secondary textoInput"
                        [routerLink]="['/docente/calificaciones',us.idCurso,us.id]" data-toggle="modal" data-target="#exampleModalCenter">
                        
                         Calificar
                         <i class='bx bx-edit' ></i></button>
                         
                      &nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        
          <div class="p-3 float-right">
            <button  class="btn btn-outline-success" (click)="imprimir()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
              <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
              <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
            </svg> Imprimir lista</button>
          </div>
        
        </body> 
        