<style type="text/css">
  #premio {
    display: none;
  }
</style>
<div class=" bootstrap snippets bootdey  ">
  <div class="   p-4 ">
    <!-- left column -->

 
    <!-- edit form column -->
    <div class=" p-2 px-4 ">

      <p class="subtituloForm">Formulario de registro</p>
      <hr>
      <form [formGroup]="userForm" class="textoInput  ">

        <div class=" formLinea margenInput">
          <label class="  divInputsLabel">Nombres:</label>
          <input type="text" class="form-control divInputsInput textoInput" formControlName="nombre" placeholder="Nombres">
        </div>
        <div class="formLinea margenInput">
          <label class=" divInputsLabel ">Apellidos:</label>
          <input type="text" class="form-control divInputsInput textoInput" formControlName="apellido"
            placeholder="Apellidos">
        </div>
        <div class="formLinea margenInput">
          <label class=" divInputsLabel ">Domicilio:</label>
          <input type="text" class="form-control divInputsInput textoInput" formControlName="domicilio"
            placeholder="Direccion">
        </div>

        <div class="formLinea  margenInput">
          <div class="divInputsLabel ">
            <label class=" "></label>
          </div>
          <div class="formLinea divInputsInput" >
            <input type="text" class="form-control textoInput"  formControlName="ciudad" placeholder="Ciudad">
            <input type="text" class="form-control textoInput" style="margin: 0px 0px 0px 8px" formControlName="pais" placeholder="Pais">
          </div>
        </div>

        
        <div class="formLinea margenInput">
          <label class="divInputsLabel">Email:</label>
          <input type="text" class="form-control divInputsInput textoInput" formControlName="correo" placeholder="email valido">
        </div>
        <div class="">
          <div class="formLinea margenInput">
            <label class="divInputsLabel">Telefono:</label>
            <input type="text" class="form-control divInputsInput textoInput" formControlName="telefono" placeholder="celular">
          </div>
          <div class="formLinea margenInput">
            <label class="divInputsLabel">Usuario:</label>
            <input type="text" class="form-control divInputsInput textoInput" formControlName="userName" placeholder="Ejm: pepe123">
          </div>
          <div class="formLinea margenInput">
            <label class="divInputsLabel">Contrasena:</label>
            <input type="text" class="form-control divInputsInput textoInput" formControlName="contrasena" placeholder="contraseña">
          </div>
          <div class="formLinea">
            <label class="control-label" hidden="false"></label>
            <input type="hidden" class="form-control" formControlName="roleID" placeholder="">
          </div>
          <div class="formLinea margenInput" *ngIf="getparamid">
            <label class="divInputsLabel">Foto de perfil:</label>
            <div class="col-md-3 " >
              <div class="text-center container " [hidden]="!edited">
                <img [src]="imgUrl" class=" " style="border-radius: 50%;  width:150px; height:150px;" alt="avatar">
                
              </div>
              <hr>
              <input type="file" class="form-control" accept="" (change)="selectImage($event)">
                
                <button class="btn btn-outline-primary" type="submit" (click)="onSubmit()" [disabled]="desact =='1'">Subir Imagen</button>
        
            </div>
          </div>
          
        </div>
        
        <div class="col-4 mt-2 botonIzq " *ngIf="!getparamid">
          <button class=" btn btn-danger" (click)="userSubmit()">Registrar estudiante</button>
        </div>
        <!-- Modal -->

        <div class=" mt-2 "  *ngIf="getparamid">
          <button class="btn btn-danger "  (click)="userUpdate()">Modificar estudiante</button>
        </div>

      </form>
      <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>


      <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
<hr>