
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <body>
      <div class="sidebar">
        <div class="logo-details"><div class="home-content">
            <i class='bx bx-menu' ></i>
          </div>
          <span class="logo_name text-warning">
                INNOVATE</span>
        </div>
        <ul class="nav-links">
    
          <li>
            <div class="iocn-link">
              <a href="#">
                
                <i class='bx bxs-graduation' ></i>
                <span class="link_name">Estudiantes</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Estudiantes</a></li>
              <li><a routerLink="crearEstudiante">Registrar</a></li>
              <li><a routerLink="leerEstudiante">Editar</a></li>
              
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class='bx bx-briefcase' ></i>
                <span class="link_name">Inscripciones</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Docentes</a></li>
              <li><a routerLink="asignarEstudianteCurso">Inscripcion</a></li>
              <li><a routerLink="leerInscripciones">Editar</a></li>
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class='bx bx-briefcase' ></i>
                <span class="link_name">Docentes</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Docentes</a></li>
              <li><a routerLink="crearDocente">Registrar</a></li>
              <li><a routerLink="leerDocente">Editar</a></li>
            </ul>
          </li>
    
          <li>
            <a routerLink="categorias">
                <i class='bx bx-category' ></i>
              <span class="link_name">Categorias</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Categorias</a></li>
            </ul>
          </li>
    
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class='bx bx-chalkboard' ></i>
                <span class="link_name">Cursos</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Cursos</a></li>
              <li><a routerLink="crearCurso">Crear</a></li>
              <li><a routerLink="leerCurso">Editar</a></li>
            </ul>
          </li>
          <li>
            <a routerLink="reporte">
              <i class='bx bx-line-chart' ></i>
              <span class="link_name">Reportes</span>
            </a>
            <ul class="sub-menu blank">
              <li><a routerLink="reporte">Reportes</a></li>
            </ul>
          </li>
          
          
          <li>
            <a href="#">
              <i class='bx bx-history'></i>
              <span class="link_name">History</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">History</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-cog' ></i>
              <span class="link_name">Setting</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Setting</a></li>
            </ul>
          </li>
          <li>
        <div class="profile-details">
          <div class="profile-content">
            <!--<img src="image/profile.jpg" alt="profileImg">-->
          </div>
          <div class="name-job">
            <div class="profile_name">Administrador</div>
            <div class="job" (click)="onLogout()">Cerrar Sesion</div>
          </div>
          <i class='bx bx-log-out'></i>
        </div>
      </li>
    </ul>
      </div>
      <section class="home-section globalContainer centrarContenido">
        
        <div class=" finp">
            <router-outlet></router-outlet>
        </div>
      </section>
       
    </body>