
    
    <h1>Cursos asignados</h1>
      &nbsp;

          <body>
	
            
              
                <div class="">
                  <div class="table100 ver1 ">
                    <div class="p-2 " style="background-color: #6c757dcc;">
                      <table>
                        <thead>
                          <tr class=""  >
                            <th class="cell100 column1">Nombre del Curso</th>
                            <th class="cell100 column1" style="text-align:center">Descripcion</th>
                            
                            <th class="cell100 column2" style="text-align:center">Editar</th>
                            
                          </tr>
                        </thead>
                      </table>
                    </div> 
          
                    <div class="table100-body js-pscroll">
                      <table>
                        <tbody>
                          <tr class="" *ngFor ='let us of readData'>
                            
                            <td class="cell100 column1">{{us.nombreLargo}}</td>
                            <td class="cell100 column3">{{us.descripcion}}</td>
                            <td class="cell100 column1"style="text-align:center"><button class="btn btn-sm btn-primary p-2"[routerLink]="['/administrar/crearCurso',us.idCurso]" >Editar <i class='bx bx-plus-circle'></i></button></td>
                            
                          </tr>
          
                        </tbody>
                      </table>
                    </div>
                  </div>
                 </div>
              
           
          
          
          <!--===============================================================================================-->	
            <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
          <!--===============================================================================================-->
            <script src="vendor/bootstrap/js/popper.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
          <!--===============================================================================================-->
            <script src="vendor/select2/select2.min.js"></script>
          <!--===============================================================================================-->
            <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
            <script>
              $('.js-pscroll').each(function(){
                var ps = new PerfectScrollbar(this);
          
                $(window).on('resize', function(){
                  ps.update();
                })
              });
                
              
            </script>
          <!--===============================================================================================-->
            <script src="js/main.js"></script>
          
          </body> 