

<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<body>
  <div class="sidebar">
    <div class="logo-details"><div class="home-content">
        <i class='bx bx-menu' ></i>
      </div>
      <span class="logo_name text-warning">
            INNOVATE</span>
    </div>
    <ul class="nav-links">

      <li>
        <div class="iocn-link">
          <a routerLink="perfilEstudiante">
            
            <i class='bx bxs-graduation' ></i>
            <span class="link_name" >Editar perfil</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Perfil</a></li>
          </ul>
        </div>
       
      </li>
      
      <li>
        <div class="iocn-link">
          <a routerLink="cursos">
            <i class='bx bx-briefcase' ></i>
            <span class="link_name">Cursos</span>
          </a>
        </div>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Cursos</a></li>
        </ul>
      </li>

      <li>
        <a routerLink="categorias">
            <i class='bx bx-category' ></i>
          <span class="link_name">Evaluaciones</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Evaluaciones</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-chalkboard' ></i>
            <span class="link_name">Calificaciones</span>
          </a>
          
        </div>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Reportes</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-line-chart' ></i>
          <span class="link_name">Comentarios</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Reportes</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <!--<img src="image/profile.jpg" alt="profileImg">-->
      </div>
      <div class="name-job">
        <div class="profile_name">Administrador</div>
        <div class="job" (click)="onLogout()">Cerrar Sesion</div>
      </div>
      <i class='bx bx-log-out'></i>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section globalContainer centrarContenido">
    
    <div class=" finp">
        <router-outlet></router-outlet>
    </div>
  </section>
  
</body>