&nbsp;
<div class="container bootstrap snippets bootdey">
  <h2 class="text-primary ">Editar Curso</h2>
  <hr>
  <div class="row ">
    <!-- left column -->


    <!-- edit form column -->
    <div class="col-md-12 personal-info">

      <h4>Informacion</h4>

      <form [formGroup]="userForm" id="formCurso">
        <div class=" formLinea margenInput">
          <label class="textoInput  divInputsLabel">Nombre completo del curso:</label>
          <input type="text" class="form-control divInputsInput textoInput" formControlName="nombreLargo"
            placeholder="">
        </div>
        <div class=" formLinea margenInput">
          <label class="textoInput  divInputsLabel">Nombre corto del curso:</label>
          <input type="text" class="form-control divInputsInput textoInput" formControlName="nombreCorto"
            placeholder="">
        </div>

        <div class=" formLinea margenInput">
          <label class="textoInput  divInputsLabel">Costo del curso:</label>
          <input type="number" class="form-control divInputsInput textoInput" formControlName="precio" placeholder="">
        </div>

        <div class=" formLinea margenInput">
          <label class="textoInput  divInputsLabel">Fecha de creacion:</label>
          <fieldset disabled="disabled">
            <input type="text" class="form-control divInputsInput textoInput" formControlName="fecha" placeholder="">
          </fieldset>
        </div>

        <div class=" formLinea margenInput">
          <label class="textoInput  divInputsLabel">Categoria de curso:</label>
          
          <div class="col-md-7">
            <select class="custom-select col-12 textoInput" id="id" formControlName="categoria">
              <option value="" selected disabled hidden>Seleccione Categoria</option>
              <option *ngFor='let us of readDataCategoria' [ngValue]="us.idCategoria">{{us.nombre}}</option>
            </select>
          </div>
        </div>

        <div class=" formLinea margenInput">
          <label class="textoInput  divInputsLabel">Seleccione docente:</label>
          
            <select class="custom-select col-7 textoInput" id="id" formControlName="idDocente">
              <option value="" selected disabled hidden>Seleccione Docente</option>
              <option *ngFor='let us of readDataDocente' [ngValue]="us.id">{{us.nombre}} {{us.apellido}}
                {{us.apMaterno}}</option>

            </select>
          
        </div>



        <div class="row " *ngIf="getparamid">
          <p class=" col-md-4"><strong> Subir imagen del curso</strong></p>
          <div class="text-center col-3">
            <img [src]="imgUrl" width="30" height="200" class="card-img-top" alt="avatar">
            <div class="col ">
              <input type="file" class="form-control" accept="image/*" (change)="selectImage($event)">
              <button class="btn btn-outline-primary justify-content: center  ;" type="submit" (click)="onSubmit()"
                [disabled]="desact =='1'">Subir Imagen</button>
            </div>
            &nbsp;

          </div>
          <div class="col-2 mt-2">

          </div>

        </div>
        <div class=" formLinea margenInput">
          <label class="textoInput  divInputsLabel">Descripcion de curso:</label>
          <textarea type="text" class="form-control divInputsInput textoInput" rows="7" formControlName="descripcion"
            placeholder=""></textarea>
        </div>
        <div class="col-lg-10 mt-2 d-flex justify-content-end " *ngIf="getparamid">
          <button class="btn btn-success " (click)="userUpdate()">Guardar Cambios</button>

        </div>
        <div class="text-center ">
          <div class="row">
            <div class=" " *ngIf="!getparamid" (click)="userSubmit()">
              <button class="btn btn-primary">Guardar curso</button>
            </div>
          </div>
        </div>


      </form>

    </div>


    <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{errormsg}}</strong>.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{successmsg}}</strong>.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

  </div>




  <!--===============================================================================================-->
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/bootstrap/js/popper.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <script>
    $('.js-pscroll').each(function () {
      var ps = new PerfectScrollbar(this);

      $(window).on('resize', function () {
        ps.update();
      })
    });


  </script>
  <!--===============================================================================================-->
  <script src="js/main.js"></script>