


<div class="container mt-5">
    <h1>Crear Curso</h1>
    &nbsp;   
    
  
    
  </div>
<div class="container mt-5"> 
    
    <div *ngIf="errormsg"  class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>


      <div *ngIf="successmsg"  class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>


    <form [formGroup]="userForm"  >
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="nombre"  placeholder="Ingrese Nombre">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text"class="form-control" formControlName="descripcion" placeholder="Descripcion">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="imagen"  placeholder="imagen">
        </div>
        <div class="input-group mb-6">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Cursos</label>
            </div>
            <select class="custom-select col-6" id="id" formControlName="idDocente">
              <option  value="" selected disabled hidden>Seleccione Docente</option>
              <option *ngFor ='let us of readDataDocente' [ngValue]="us.idDocente" >{{us.nombre}} {{us.apPaterno}} {{us.apMaterno}}</option>
              
            </select>
        
          </div>
        
        <div class="col-lg-4 mt-2" *ngIf="!getparamid" (click)="userSubmit()">
            <button class="btn btn-primary">Crear</button>
        </div>
        <div class="col-lg-4 mt-2" *ngIf="getparamid">
            <button class="btn btn-dark ntm-sm" (click)="userUpdate()">Modificar</button>
        </div>
    </form>
</div>
