<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
 <body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <div class="login-main-text">
      <a class="navbar-brand" href="#">
         <span class="text-danger fs-1 fw-bold">I</span>
         <span class="text-primary fs-1 fw-bold">N</span>
         <span class="text-primary fs-1 fw-bold">N</span>
         <span class="text-success fs-1 fw-bold">O</span>
         <span class="text-danger fs-1 fw-bold">V</span>
         <span class="text-primary fs-1 fw-bold">A-</span>
         <span class="text-warning fs-1 fw-bold">T</span>
     </a>
    <!-- Icon -->
    

    <!-- Login Form -->
    <form [formGroup]="userForm" >
      
      
      <input   type="text"class="fadeIn third" formControlName="nombre" name="login" placeholder="nombre">
      <input   type="text"class="fadeIn third" formControlName="apellido" name="login" placeholder="Apellidos">
      
      <input   type="text"class="fadeIn third" formControlName="userName" name="login" placeholder="usuario">
      <input   type="hidden"class="fadeIn third" formControlName="roleID" name="login" placeholder="usuario">
      <input  type="text"class="fadeIn third" formControlName="correo" name="login" placeholder="correo">
      <input   type="text"class="fadeIn third" formControlName="contrasena" name="idDocente" placeholder="password">
      <input  type="submit" class="fadeIn fourth" (click)="register()" value="Crear usuario">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/login">Iniciar Sesion</a>
    </div>
    
    <div *ngIf="errormsg"  class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{errormsg}}</strong>.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    <div *ngIf="successmsg"  class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{successmsg}}</strong>.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>
</div>
 </body>